@charset "utf-8";

@font-face {
  font-family: montserrat_medium;
  src: url(../font/Montserrat-Medium.woff) format("woff");
}

@font-face {
  font-family: montserrat_regular;
  src: url(../font/Montserrat-Regular.woff) format("woff");
}

@font-face {
  font-family: notosansKR;
  src: url(../font/NotoSansKR-Regular.woff) format("woff");
}

@font-face {
  font-family: notosansKR_medium;
  src: url(../font/NotoSansKR-Medium.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font: 1em montserrat_medium, montserrat_regular, notosansKR;
  color: #fff;
}

#wrapper {
  position: relative;

  width: 100%;
  max-width: 1900px;

  overflow: hidden;
}

#popwrap {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 2.813rem;

  background: rgb(34, 34, 34);

  z-index: 502;
}

.popup {
  width: 100%;
  margin: 0 auto;
}

.popup p {
  display: flex;
  justify-content: center;

  font-size: 14px;
  line-height: 45px;

  cursor: pointer;
}

.popup a span {
  position: absolute;
  top: 0;
  right: 20px;

  color: #fff;
  line-height: 45px;
}

/* 모달 창 공간 */
#modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999999;
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 600px;

  padding: 40px;

  text-align: center;

  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}

.modal_content span {
  display: inline-block;

  width: 100%;

  cursor: pointer;

  text-align: right;
  color: #222222;
}

.modal_content span:hover {
  color: #ccc;
}

.modal_content p {
  margin-top: 40px;
}

nav {
  position: fixed;
  top: 45px;

  max-width: 1900px;
  width: 100%;

  z-index: 555;

  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(30px);
}

.gnb {
  display: flex;
  align-items: center;

  max-width: 1900px;

  margin: 0 auto;
  padding: 0 80px;
}

.gnb ul li a {
  color: #fff;
  font-size: 20px;
}

.gnb_left {
  display: flex;
  width: 70%;
}

.gnb_left ul {
  display: flex;
}

.gnb_left ul li {
  padding: 0 15px;
}

.gnb_left ul li:first-child img {
  color: #fff;

  height: 1.5rem;

  vertical-align: middle;

  padding-right: 20px;
}

.gnb_right {
  display: flex;
  justify-content: flex-end;

  width: 30%;
}

.gnb_right ul {
  display: flex;
}

.gnb_right ul li {
  padding: 0 15px;
  line-height: 64px;
}

.gnb_right ul li.public a {
  display: flex;
  align-items: center;
}

.gnb_right ul li.btn_menu {
  display: none;
}

#aside {
  display: none;

  max-width: 1900px;
  width: 100%;
  height: 900px;

  margin: 0 auto;

  background: #222222;
  color: #fff;
}

#sub_wrap {
  width: 100%;

  margin: 0 auto;

  z-index: 99999999;
}

#sub_nav {
  display: flex;

  justify-content: space-between;

  margin: 0 auto;
  padding: 15px 40px;

  font-size: 18px;
}

.sub_left ul {
  display: flex;
}

.sub_left ul li {
  padding-right: 20px;
}

.sub_right ul {
  display: flex;
}

.sub_right ul li {
  padding-left: 20px;
}

#side_navi {
  width: 100%;

  background: #222222;
  color: #fff;

  display: flex;
}

#side_navi {
  display: flex;
  flex-direction: column;

  font-size: 31.5px;
  padding: 0 40px;
}

#side_navi ul:nth-child(2) {
  display: flex;
  margin-top: 450px;
}

main {
  width: 100%;
}

.visual {
  position: relative;
  width: 100%;
  height: 950px;

  margin: 0 auto;

  object-fit: contain;
}

.visual .slide {
  width: 100%;
  height: 950px;

  overflow: hidden;
}

.visual .slide .item {
  position: relative;

  width: 100%;
  height: 950px;
}

.visual .text {
  position: absolute;
  top: 380px;

  width: 738px;
  padding-left: 80px;

  z-index: 999;
}

.visual .text span {
  margin-right: 20px;
}

.visual .text h1 {
  font-size: 64px;
  margin: 20px 0;
}

.visual .text p {
  letter-spacing: -1px;
  margin-bottom: 50px;
  opacity: 0.9;
}

.visual .text a {
  opacity: 0.6;
}

.visual .text hr {
  width: 96px;
  opacity: 0.5;
  margin-top: 5px;
}

.visual .item #page_wrap {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);

  width: 100%;

  z-index: 99999;
}

.visual .item #page_wrap > div {
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.visual .item .page h1 {
  font-size: 90px;

  text-align: center;

  width: 100%;

  padding: 0 800px;
}

@media screen and (max-width: 1199px) {
  li.new,
  li.magazine,
  li.gnb_books,
  li.goods,
  li.newsletter,
  li.index,
  li.search,
  li.login,
  li.public {
    display: none;
  }

  .gnb_right ul li.btn_menu {
    display: block;
  }

  .gnb {
    padding: 0 40px;
  }
}
